multi_sync_workflow.json
{
  "name": "Multi-Model Sync Workflow",
  "id": "vD8wOYTocebwBhhn",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "multi-sync",
        "responseMode": "responseNode"
      },
      "name": "Sync Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [0, 0],
      "webhookId": "multi-sync-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "models",
              "value": "grok,ara,ani"
            },
            {
              "name": "sync_summary",
              "value": "Starting multi-model sync..."
            }
          ]
        }
      },
      "name": "Initialize Sync",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [200, 0]
    },
    {
      "parameters": {
        "mode": "iterate",
        "values": {
          "string": [
            {
              "name": "model",
              "value": "={{ $node[\"Initialize Sync\"].json.models.split(',') }}"
            }
          ]
        }
      },
      "name": "Model Loop",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [400, 0]
    },
    {
      "parameters": {
        "functionCode": "const model = $json.model;\nconst isGrok = model === 'grok';\nconst isAraOrAni = ['ara', 'ani'].includes(model);\nconst localModel = `${model}:latest`;\nconst remoteEndpoint = isGrok ? 'https://api.x.ai/v1/chat/completions' : `http://localhost:9003/${model}_context`;\nconst localEndpoint = `http://localhost:11434/api/chat`;\nreturn [{ json: { model, isGrok, isAraOrAni, localModel, remoteEndpoint, localEndpoint } }];"
      },
      "name": "Setup Model Config",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [600, -200]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:9003/local_context",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "limit",
              "value": "5"
            }
          ]
        }
      },
      "name": "Get Hub Context",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [800, -400]
    },
    {
      "parameters": {
        "functionCode": "const messages = $json.messages || [];\nconst approxTokens = JSON.stringify(messages).length / 4;\nconsole.log(`Token count for ${$json.model}: ${approxTokens}`);\nif (approxTokens > 100000) {\n  const truncated = messages.slice(-5);\n  return [{ json: { ...$json, messages: truncated, truncated: true } }];\n} else {\n  return [{ json: { ...$json, truncated: false } }];\n}"
      },
      "name": "Truncate Messages",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1000, -400]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.isGrok }}"
            }
          ]
        }
      },
      "name": "Route Grok Sync",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1000, -200]
    },
    {
      "parameters": {
        "functionCode": "const messages = $json.messages || [];\nconst approxTokens = JSON.stringify(messages).length / 4;\nconsole.log(`Token count for ${$json.model}: ${approxTokens}`);\nif (approxTokens > 100000) {\n  const truncated = messages.slice(-5);\n  return [{ json: { ...$json, messages: truncated, truncated: true } }];\n} else {\n  return [{ json: { ...$json, truncated: false } }];\n}"
      },
      "name": "Truncate for Cloud",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1200, -200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.x.ai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{ $env.GROK_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "grok-beta"
            },
            {
              "name": "messages",
              "value": "={{ $json.messages }}"
            },
            {
              "name": "max_tokens",
              "value": "100"
            }
          ]
        },
        "options": {
          "retryOnFail": true,
          "maxRetries": 3,
          "retryInterval": 2000
        }
      },
      "name": "Sync Local Grok to Cloud",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, -300]
    },
    {
      "parameters": {
        "functionCode": "const success = $node['Sync Local Grok to Cloud'].response.statusCode === 200;\nreturn [{ json: { ...$json, cloudSyncSuccess: success } }];"
      },
      "name": "Check Cloud Success",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1400, -300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.cloudSyncSuccess }}"
            }
          ]
        }
      },
      "name": "If Cloud Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1600, -300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:9003/store_remote",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "response",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        }
      },
      "name": "Store Cloud Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1400, -300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:11434/api/chat",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.localModel }}"
            },
            {
              "name": "messages",
              "value": "={{ $json.messages }}"
            },
            {
              "name": "stream",
              "value": false
            }
          ]
        },
        "options": {
          "retryOnFail": true,
          "maxRetries": 3,
          "retryInterval": 2000
        }
      },
      "name": "Sync Hub to Ollama",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:9003/store_local",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "response",
              "value": "={{ $json.message.content }}"
            }
          ]
        }
      },
      "name": "Store Ollama Response",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1200, 100]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:9003/log",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "event",
              "value": "multi_model_sync"
            },
            {
              "name": "model",
              "value": "={{ $json.model }}"
            },
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "local_to_remote",
              "value": "synced"
            },
            {
              "name": "remote_to_local",
              "value": "synced"
            }
          ]
        }
      },
      "name": "Log Sync Status",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1600, 0]
    },
    {
      "parameters": {
        "functionCode": "const summary = `Multi-model sync completed. Synced: Grok, Ara, Ani. All directions successful.`;\nreturn [{ json: { summary } }];"
      },
      "name": "Generate Summary",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1800, 0]
    },
    {
      "parameters": {},
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 0]
    },
    {
      "parameters": {
        "cronExpression": "0 * * * *"
      },
      "name": "Hourly Sync Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [0, 200]
    }
  ],
  "connections": {
    "Sync Webhook": {
      "main": [
        [
          {
            "node": "Initialize Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Hourly Sync Cron": {
      "main": [
        [
          {
            "node": "Initialize Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Initialize Sync": {
      "main": [
        [
          {
            "node": "Model Loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Model Loop": {
      "main": [
        [
          {
            "node": "Setup Model Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Setup Model Config": {
      "main": [
        [
          {
            "node": "Get Hub Context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Hub Context": {
      "main": [
        [
          {
            "node": "Truncate Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate Messages": {
      "main": [
        [
          {
            "node": "Sync Hub to Ollama",
            "type": "main",
            "index": 0
          },
          {
            "node": "Route Grok Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Grok Sync": {
      "main": [
        [
          {
            "node": "Truncate for Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Truncate for Cloud": {
      "main": [
        [
          {
            "node": "Sync Local Grok to Cloud",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Local Grok to Cloud": {
      "main": [
        [
          {
            "node": "Check Cloud Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cloud Success": {
      "main": [
        [
          {
            "node": "If Cloud Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cloud Success": {
      "main": [
        [
          {
            "node": "Store Cloud Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Cloud Response": {
      "main": [
        [
          {
            "node": "Log Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Hub to Ollama": {
      "main": [
        [
          {
            "node": "Store Ollama Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Ollama Response": {
      "main": [
        [
          {
            "node": "Log Sync Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Sync Status": {
      "main": [
        [
          {
            "node": "Generate Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Summary": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
