tabby_n8n_workflow.json
{
  "name": "Tabby AI Coding Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tabby-code",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:30891/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "Qwen2-1.5B-Instruct"
            },
            {
              "name": "messages",
              "value": "[{\"role\": \"user\", \"content\": \"{{$node[\"Webhook\"].json.body.prompt}}\"}]"
            },
            {
              "name": "max_tokens",
              "value": 200
            }
          ]
        },
        "options": {}
      },
      "id": "tabby-api",
      "name": "Tabby API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tabby_response",
              "value": "={{ $node[\"Tabby API\"].json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-response",
      "name": "Set Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Tabby API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tabby API": {
      "main": [
        [
          {
            "node": "Set Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {},
  "staticData": null
}
