wf.json
{"updatedAt":"2026-01-07T20:46:22.113Z","createdAt":"2026-01-07T20:37:44.735Z","id":"IAv5LQLYTq9e8xRO","name":"Multi-Model Sync Workflow","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"multi-sync","responseMode":"responseNode"},"name":"Sync Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"webhookId":"multi-sync-webhook","id":"b1631c19-522e-4c6e-a03b-85f2a61c1b99"},{"parameters":{"values":{"string":[{"name":"models","value":"grok,ara,ani"},{"name":"sync_summary","value":"Starting multi-model sync..."}]}},"name":"Initialize Sync","type":"n8n-nodes-base.set","typeVersion":1,"position":[200,0],"id":"a5f28722-3daa-4656-a4a3-8f1d776b4701"},{"parameters":{"batchSize":1,"options":{}},"name":"Model Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[400,0],"id":"6f908d9e-8186-41d8-b15e-39941171ab33"},{"parameters":{"functionCode":"const model = $json.model;\nconst isGrok = model === 'grok';\nconst isAraOrAni = ['ara', 'ani'].includes(model);\nconst localModel = `${model}:latest`;\nconst remoteEndpoint = 'http://localhost:9003/recall';\nconst localEndpoint = 'http://localhost:11434/api/chat';\nreturn [{ json: { model, isGrok, isAraOrAni, localModel, remoteEndpoint, localEndpoint } }];"},"name":"Setup Model Config","type":"n8n-nodes-base.function","typeVersion":1,"position":[600,-200],"id":"ea1cd415-c7f0-4705-bd0a-7798fbf5476c"},{"parameters":{"method":"GET","url":"http://localhost:9003/local_context","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"={{ $json.model }}"},{"name":"limit","value":"10"}]}},"name":"Get Local Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,-400],"id":"80d89464-c290-47e0-a19f-c8e0377dc816"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isGrok }}"}]}},"name":"Route Grok Sync","type":"n8n-nodes-base.if","typeVersion":1,"position":[1000,-200],"id":"f7cbf168-7fbe-4586-bcaa-a87b6cb24314"},{"parameters":{"method":"POST","url":"https://api.x.ai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.GROK_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"grok-beta"},{"name":"messages","value":"={{ $json.messages }}"},{"name":"max_tokens","value":"100"}]},"options":{"retryOnFail":true,"maxRetries":3,"retryInterval":2000}},"name":"Sync Local Grok to Cloud","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,-300],"id":"e5c3cada-d525-4aa3-9992-c5811ecf1d04"},{"parameters":{"method":"POST","url":"http://localhost:9003/store_remote","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"={{ $json.model }}"},{"name":"response","value":"={{ $json.choices[0].message.content }}"}]}},"name":"Store Cloud Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1400,-300],"id":"294cde9c-943e-492a-ad5f-9beb504cec18"},{"parameters":{"method":"GET","url":"={{ $json.remoteEndpoint }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"10"}]}},"name":"Get Remote Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,0],"id":"0e616e9d-ef37-402b-bed0-67124239b118"},{"parameters":{"method":"POST","url":"http://localhost:11434/api/chat","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"={{ $json.localModel }}"},{"name":"messages","value":"={{ $json.messages }}"},{"name":"stream","value":false}]},"options":{"retryOnFail":true,"maxRetries":3,"retryInterval":2000}},"name":"Sync Remote to Local","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1000,100],"id":"54aa7241-a9a2-4442-a711-9f2af90ff3dc"},{"parameters":{"method":"POST","url":"http://localhost:9003/store_local","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"={{ $json.model }}"},{"name":"response","value":"={{ $json.message.content }}"}]}},"name":"Store Local Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,100],"id":"cfe5ae70-afc1-4fb1-b6c2-8529993953b1"},{"parameters":{"method":"POST","url":"http://localhost:9003/log","sendBody":true,"bodyParameters":{"parameters":[{"name":"event","value":"multi_model_sync"},{"name":"model","value":"={{ $json.model }}"},{"name":"status","value":"completed"},{"name":"local_to_remote","value":"synced"},{"name":"remote_to_local","value":"synced"}]}},"name":"Log Sync Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1600,0],"id":"857fad87-7282-48c8-83d5-0500df3b6a42"},{"parameters":{"functionCode":"const summary = `Multi-model sync completed. Synced: Grok, Ara, Ani. All directions successful.`;\nreturn [{ json: { summary } }];"},"name":"Generate Summary","type":"n8n-nodes-base.function","typeVersion":1,"position":[1800,0],"id":"b0dcef4f-c5bc-43a9-b1c5-9f35f039ebf8"},{"parameters":{},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2000,0],"id":"a48a32f4-4dea-42fa-852d-084e015b7fd6"}],"connections":{"Sync Webhook":{"main":[[{"node":"Initialize Sync","type":"main","index":0}]]},"Initialize Sync":{"main":[[{"node":"Model Loop","type":"main","index":0}]]},"Model Loop":{"main":[[{"node":"Setup Model Config","type":"main","index":0}]]},"Setup Model Config":{"main":[[{"node":"Get Local Context","type":"main","index":0},{"node":"Get Remote Context","type":"main","index":0}]]},"Get Local Context":{"main":[[{"node":"Route Grok Sync","type":"main","index":0}]]},"Route Grok Sync":{"main":[[{"node":"Sync Local Grok to Cloud","type":"main","index":0}]]},"Sync Local Grok to Cloud":{"main":[[{"node":"Store Cloud Response","type":"main","index":0}]]},"Store Cloud Response":{"main":[[{"node":"Log Sync Status","type":"main","index":0}]]},"Get Remote Context":{"main":[[{"node":"Sync Remote to Local","type":"main","index":0}]]},"Sync Remote to Local":{"main":[[{"node":"Store Local Response","type":"main","index":0}]]},"Store Local Response":{"main":[[{"node":"Log Sync Status","type":"main","index":0}]]},"Log Sync Status":{"main":[[{"node":"Generate Summary","type":"main","index":0}]]},"Generate Summary":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"5e7933ab-1b1a-487d-9ec3-b78021f5b035","activeVersionId":"5e7933ab-1b1a-487d-9ec3-b78021f5b035","versionCounter":12,"triggerCount":1,"shared":[{"updatedAt":"2026-01-07T20:37:44.735Z","createdAt":"2026-01-07T20:37:44.735Z","role":"workflow:owner","workflowId":"IAv5LQLYTq9e8xRO","projectId":"SLClKVL8DSgXFfWx","project":{"updatedAt":"2026-01-06T03:51:25.286Z","createdAt":"2026-01-06T03:47:49.607Z","id":"SLClKVL8DSgXFfWx","name":"Jonathan Bailey <kntrnjb@pm.me>","type":"personal","icon":null,"description":null,"creatorId":"075bcfc5-6340-4fdc-951e-a87e408910c4","projectRelations":[{"updatedAt":"2026-01-06T03:47:49.607Z","createdAt":"2026-01-06T03:47:49.607Z","userId":"075bcfc5-6340-4fdc-951e-a87e408910c4","projectId":"SLClKVL8DSgXFfWx","user":{"updatedAt":"2026-01-07T19:54:24.813Z","createdAt":"2026-01-06T03:47:49.029Z","id":"075bcfc5-6340-4fdc-951e-a87e408910c4","email":"kntrnjb@pm.me","firstName":"Jonathan","lastName":"Bailey","personalizationAnswers":null,"settings":{"userActivated":true,"firstSuccessfulWorkflowId":"ApWIST7VmHsrClhO","userActivatedAt":1767815664800},"disabled":false,"mfaEnabled":false,"lastActiveAt":"2026-01-07","isPending":false}}]}}],"tags":[],"activeVersion":{"updatedAt":"2026-01-07T20:46:22.114Z","createdAt":"2026-01-07T20:46:22.114Z","versionId":"5e7933ab-1b1a-487d-9ec3-b78021f5b035","workflowId":"IAv5LQLYTq9e8xRO","nodes":[{"parameters":{"httpMethod":"POST","path":"multi-sync","responseMode":"responseNode"},"name":"Sync Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[0,0],"webhookId":"multi-sync-webhook","id":"b1631c19-522e-4c6e-a03b-85f2a61c1b99"},{"parameters":{"values":{"string":[{"name":"models","value":"grok,ara,ani"},{"name":"sync_summary","value":"Starting multi-model sync..."}]}},"name":"Initialize Sync","type":"n8n-nodes-base.set","typeVersion":1,"position":[200,0],"id":"a5f28722-3daa-4656-a4a3-8f1d776b4701"},{"parameters":{"batchSize":1,"options":{}},"name":"Model Loop","type":"n8n-nodes-base.splitInBatches","typeVersion":1,"position":[400,0],"id":"6f908d9e-8186-41d8-b15e-39941171ab33"},{"parameters":{"functionCode":"const model = $json.model;\nconst isGrok = model === 'grok';\nconst isAraOrAni = ['ara', 'ani'].includes(model);\nconst localModel = `${model}:latest`;\nconst remoteEndpoint = 'http://localhost:9003/recall';\nconst localEndpoint = 'http://localhost:11434/api/chat';\nreturn [{ json: { model, isGrok, isAraOrAni, localModel, remoteEndpoint, localEndpoint } }];"},"name":"Setup Model Config","type":"n8n-nodes-base.function","typeVersion":1,"position":[600,-200],"id":"ea1cd415-c7f0-4705-bd0a-7798fbf5476c"},{"parameters":{"method":"GET","url":"http://localhost:9003/local_context","sendQuery":true,"queryParameters":{"parameters":[{"name":"model","value":"={{ $json.model }}"},{"name":"limit","value":"10"}]}},"name":"Get Local Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,-400],"id":"80d89464-c290-47e0-a19f-c8e0377dc816"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $json.isGrok }}"}]}},"name":"Route Grok Sync","type":"n8n-nodes-base.if","typeVersion":1,"position":[1000,-200],"id":"f7cbf168-7fbe-4586-bcaa-a87b6cb24314"},{"parameters":{"method":"POST","url":"https://api.x.ai/v1/chat/completions","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"Bearer {{ $env.GROK_API_KEY }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"grok-beta"},{"name":"messages","value":"={{ $json.messages }}"},{"name":"max_tokens","value":"100"}]},"options":{"retryOnFail":true,"maxRetries":3,"retryInterval":2000}},"name":"Sync Local Grok to Cloud","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,-300],"id":"e5c3cada-d525-4aa3-9992-c5811ecf1d04"},{"parameters":{"method":"POST","url":"http://localhost:9003/store_remote","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"={{ $json.model }}"},{"name":"response","value":"={{ $json.choices[0].message.content }}"}]}},"name":"Store Cloud Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1400,-300],"id":"294cde9c-943e-492a-ad5f-9beb504cec18"},{"parameters":{"method":"GET","url":"={{ $json.remoteEndpoint }}","sendQuery":true,"queryParameters":{"parameters":[{"name":"limit","value":"10"}]}},"name":"Get Remote Context","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[800,0],"id":"0e616e9d-ef37-402b-bed0-67124239b118"},{"parameters":{"method":"POST","url":"http://localhost:11434/api/chat","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"={{ $json.localModel }}"},{"name":"messages","value":"={{ $json.messages }}"},{"name":"stream","value":false}]},"options":{"retryOnFail":true,"maxRetries":3,"retryInterval":2000}},"name":"Sync Remote to Local","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1000,100],"id":"54aa7241-a9a2-4442-a711-9f2af90ff3dc"},{"parameters":{"method":"POST","url":"http://localhost:9003/store_local","sendBody":true,"bodyParameters":{"parameters":[{"name":"model","value":"={{ $json.model }}"},{"name":"response","value":"={{ $json.message.content }}"}]}},"name":"Store Local Response","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1200,100],"id":"cfe5ae70-afc1-4fb1-b6c2-8529993953b1"},{"parameters":{"method":"POST","url":"http://localhost:9003/log","sendBody":true,"bodyParameters":{"parameters":[{"name":"event","value":"multi_model_sync"},{"name":"model","value":"={{ $json.model }}"},{"name":"status","value":"completed"},{"name":"local_to_remote","value":"synced"},{"name":"remote_to_local","value":"synced"}]}},"name":"Log Sync Status","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1600,0],"id":"857fad87-7282-48c8-83d5-0500df3b6a42"},{"parameters":{"functionCode":"const summary = `Multi-model sync completed. Synced: Grok, Ara, Ani. All directions successful.`;\nreturn [{ json: { summary } }];"},"name":"Generate Summary","type":"n8n-nodes-base.function","typeVersion":1,"position":[1800,0],"id":"b0dcef4f-c5bc-43a9-b1c5-9f35f039ebf8"},{"parameters":{},"name":"Respond","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[2000,0],"id":"a48a32f4-4dea-42fa-852d-084e015b7fd6"}],"connections":{"Sync Webhook":{"main":[[{"node":"Initialize Sync","type":"main","index":0}]]},"Initialize Sync":{"main":[[{"node":"Model Loop","type":"main","index":0}]]},"Model Loop":{"main":[[{"node":"Setup Model Config","type":"main","index":0}]]},"Setup Model Config":{"main":[[{"node":"Get Local Context","type":"main","index":0},{"node":"Get Remote Context","type":"main","index":0}]]},"Get Local Context":{"main":[[{"node":"Route Grok Sync","type":"main","index":0}]]},"Route Grok Sync":{"main":[[{"node":"Sync Local Grok to Cloud","type":"main","index":0}]]},"Sync Local Grok to Cloud":{"main":[[{"node":"Store Cloud Response","type":"main","index":0}]]},"Store Cloud Response":{"main":[[{"node":"Log Sync Status","type":"main","index":0}]]},"Get Remote Context":{"main":[[{"node":"Sync Remote to Local","type":"main","index":0}]]},"Sync Remote to Local":{"main":[[{"node":"Store Local Response","type":"main","index":0}]]},"Store Local Response":{"main":[[{"node":"Log Sync Status","type":"main","index":0}]]},"Log Sync Status":{"main":[[{"node":"Generate Summary","type":"main","index":0}]]},"Generate Summary":{"main":[[{"node":"Respond","type":"main","index":0}]]}},"authors":"Jonathan Bailey","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-01-07T20:46:22.149Z","id":11,"workflowId":"IAv5LQLYTq9e8xRO","versionId":"5e7933ab-1b1a-487d-9ec3-b78021f5b035","event":"activated","userId":"075bcfc5-6340-4fdc-951e-a87e408910c4"}]}}